@import "~bootstrap/scss/bootstrap";

body {
  background-image: url('../background-img.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  cursor: pointer;
  h2.heading {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -.2px;
    margin-bottom: 20px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &-label {
      color: rgba(0,0,0,.3);
      font-weight: 700;
    }
    .input {
      position: relative;
      font-size: 0;
      line-height: 1.5;
      outline: 0;
      height: auto;
      padding: 0;

      &__original {
        display: block;
        width: 100%;
        padding: 8px 15px;
        color: #343a40;
        font-size: 15px;
        background-color: #fff9;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 4px;
        transition: border .2s,background-color .2s;
        box-sizing: border-box;
        outline: none;
        margin: 0;
        height: 50px;
      }
      &__original-disabled {
        background-color: rgba(140, 134, 134, 0.21)
      }
    }
  }
  .button {
    overflow: hidden;
    height: 50px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #ededed96;
    transition: all .1s ease;
    color: #000;
    text-align: center;
    text-decoration: none;

    .disabled {
      cursor: not-allowed;
    }
  }
  .error {
    border-color: red !important;
  }
}

