<template>
  <div class="container form-container">
    <div class="row justify-content-center">
      <div class="column">
        <h2 class="heading">
          {{ title }}
        </h2>
        <form id="profile-form" name="profile-form">
          <div class="row">
            <div class="column col col-12 col-sm-4">
              <div class="form-field">
                <label
                  for="secondName"
                  class="form-field-label"
                  >
                  <span>Фамилия</span>
                </label>
                <div
                  class="input fit-container"
                >
                  <!---->
                  <input
                    :value="userInfo.secondName"
                    id="secondName"
                    type="text"
                    name="secondName"
                    placeholder="Фамилия"
                    class="input__original"
                    :class="{'input__original-disabled': !canEdit}"
                    :disabled="!canEdit"
                    @input="$emit('field-changed', 'secondName', $event.target.value)"
                  />
                </div>
              </div>
            </div>
            <div class="column col col-12 col-sm-4">
              <div class="form-field">
                <label
                  for="firstName"
                  class="form-field-label"
                >
                  <span>Имя</span>
                </label>
                <div class="input fit-container">
                  <input
                    :value="userInfo.firstName"
                    id="firstName"
                    type="text"
                    name="firstName"
                    placeholder="Имя"
                    class="input__original"
                    :class="{'input__original-disabled': !canEdit}"
                    :disabled="!canEdit"
                    @input="$emit('field-changed', 'firstName', $event.target.value)"
                  />
                </div>
              </div>
            </div>
            <div class="column col col-12 col-sm-4">
              <div class="form-field">
                <label
                  for="lastName"
                  class="form-field-label"
                >
                  <span>Отчество</span>
                </label>
                <div class="input fit-container">
                  <input
                    :value="userInfo.lastName"
                    id="lastName"
                    type="text"
                    name="lastName"
                    placeholder="Отчество"
                    class="input__original"
                    :class="{'input__original-disabled': !canEdit}"
                    :disabled="!canEdit"
                    @input="$emit('field-changed', 'lastName', $event.target.value)"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="column col col-12">
              <div class="form-field">
                <label
                  for="phone"
                  class="form-field-label"
                >
                  <span>Телефон</span>
                </label>
                <div class="input fit-container">
                  <input
                    v-mask="mask"
                    :value="userInfo.phone"
                    id="phone"
                    type="text"
                    name="phone"
                    placeholder="Телефон"
                    class="input__original"
                    :class="{error: userInfo.phone.length !==18,'input__original-disabled': !canEdit}"
                    :disabled="!canEdit"
                    @input="$emit('field-changed', 'phone', $event.target.value)"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="column col col-12">
              <div class="form-field">
                <label
                  for="email"
                  class="form-field-label"
                >
                  <span>E-mail</span>
                </label>
                <div class="input fit-container">
                  <input
                    :value="userInfo.email"
                    id="email"
                    type="email"
                    name="phone"
                    placeholder="E-mail"
                    class="input__original"
                    :class="{'input__original-disabled': !canEdit}"
                    :disabled="!canEdit"
                    @input="$emit('field-changed', 'email', $event.target.value)"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <input
              v-if="canEdit"
              type="submit"
              value="Отмена"
              class="button"
              :disabled="userInfo.phone.length !==18"
              :class="{'input__original-disabled': !canEdit}"
              @click.prevent="$emit('page-changed')"
            />
            <input
              v-else
              type="submit"
              value="Редактировать"
              class="button"
              @click.prevent="$emit('page-changed')"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import { VueMaskDirective } from 'v-mask';
  export default {
    name: "Form",
    directives: {
      'mask': VueMaskDirective
    },
    props: {
      userInfo: {
        type: Object,
        required: true
      },
      canEdit: {
        type: Boolean,
        required:true
      },
      title: {
        type: String,
        required:true
      }
    },
    data() {
      return {
        mask: "+7 (###) ### ##-##"
      }
    },
    methods: {
      log(val) {
        console.log(val);
      }
    }
  };
</script>

<style scoped></style>
