<template>
  <section class="container bg">
    <Form
      v-if="profilePage"
      :user-info="userInfo"
      :can-edit="false"
      title="Профиль пользователя"
      @page-changed="pageChanged"
    />
    <Form
      v-else
      :user-info="userInfo"
      :can-edit="true"
      title="Редактирование профиля"
      @field-changed="inputChanged"
      @page-changed="pageChanged"
    />
  </section>

</template>

<script>
  import Form from "../components/Form";
    export default {
      name: "App",
      components: {Form },
      data() {
        return {
          userInfo: {
            secondName: 'Маликова',
            firstName: 'Айгуль',
            lastName: 'Руслановна',
            phone: '+7 (937) 003 71-00',
            email: 'amalikova19@gmail.com',
          },
          profilePage: true
        }
      },
      methods: {
        inputChanged(key, value) {
          this.userInfo[key] = value;
        },
        pageChanged() {
          this.profilePage = !this.profilePage;
        }
      }
    }
</script>

<style scoped>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
</style>
